@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #fff;
  --background-color: #000;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  height: 100%;
}
